.header {
  height: 60px;
  min-height: 0;
  flex-shrink: 0;
  display: flex;
  padding: 10px;
  align-items: center;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 0 16px;

  .item {
    transition: opacity .2s ease;
    opacity: 0.5;
    cursor: pointer;
    background: none;
    border: none;

    &:hover{
      opacity: 1;
    }
  }
}

.title {
  font-size: 32px;
  color: var(--text-color);
}
