/* Your styles goes here. */
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);

  & > * {
    border-bottom: 1px solid var(--border-color);
  }

  &.light {
    --bg-color: #e5e7eb;
    --text-color: #293e6c;
    --border-color: rgb(219, 219, 219);
    --group-border-color: #2c6aa9;
    --group-bg-color: #d4d4d8;
  }

  &.dark {
    --bg-color: #1f2937;
    --text-color: #f1f5f9;
    --border-color: rgb(6, 10, 14);
    --group-border-color: #2c6aa9;
    --group-bg-color: #374151;
  }
}

.content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-shrink: 1;
  border: 0;
}

.sandpack {
  flex: 1;
  flex-shrink: 1;
  min-width: 0;
  height: 100%;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;

  & > div {
    flex: 1;
    flex-shrink: 1;
    min-height: 0;
  }

  & > div:first-child {
    flex: 2;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    z-index: 10;
  }

  .preview {
    position: relative;

    & > div {
      height: 100%;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
