.navItem {
  border: 1px dashed black;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  margin: 2px 2px 0 2px;

  text-decoration: none;
}
